.container {
  background-color: #ffc30b;
  color: white;
  font-size: 30px;
  font-weight: 800;
  padding: 10px;
  .headerLink{
    text-decoration: none;
    color: white;
  }
  .header{
      width: 50%;
    .logo{
        width: 100px;
        height: 100px;
      }
  }
}